<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Desafio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.angularjs.org/1.6.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="desafioApp">
    <div ng-controller="desafioController">
        <div style="width: 50%; margin: 0 auto;">
            <h2 style="text-align: center"> Pessoas </h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%;">#</th>
                            <th style="width: 60%;">Nome</th>
                            <th style="width: 25%;">Sexo</th>
                            <th style="width: 10%;">Idade</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="pessoa in pessoas">
                        <td>
                            <input type="checkbox" ng-model="pessoa.selecionado" />
                        </td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.sexo}}</td>
                        <td>{{pessoa.idade}}</td>
                    </tr>
                </table>
                <form>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="showForm()">Adicionar</button>
                        <button class="btn btn-primary" ng-click="showForm(pessoaSelecionada(pessoas))" ng-disabled="!isUmaPessoaSelecionada(pessoas)">Editar</button>
                        <button class="btn btn-danger" ng-click="apagarPessoas(pessoas)" ng-disabled="!isPessoaSelecionada(pessoas)">Apagar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>