<div class="modal-header">
    <h3>{{titulo}}</h3>
</div>
<form name="form.pessoa" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Nome*</label>
            <input type="text" name="nome" class="form-control" ng-model="pessoa.nome" ng-maxlength="200">
            <p ng-show="form.pessoa.nome.$error.maxlength" class="help-block">A nome só pode ter no máximo 200 caracteres!</p>
        </div>

        <div class="form-group">
            <label>Idade*</label>
            <input type="number" name="idade" class="form-control" ng-model="pessoa.idade" min="0" ng-maxlength="3">
            <p ng-show="form.pessoa.idade.$error.maxlength" class="help-block">A idade só pode ter no máximo 3 dígitos!</p>
            <p ng-show="form.pessoa.idade.$error.min" class="help-block">A idade não pode ser negativa!</p>
        </div>

        <div class="form-group">
            <label>Sexo*</label>
            <select name="sexo" class="form-control" ng-model="pessoa.sexo">
                <option value="0">Masculino</option>
                <option value="1">Feminino</option>
              </select><br>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="pessoa.nome == null || pessoa.idade ==null || pessoa.sexo == null"> Salvar </button>
        <button class="btn btn-warning" ng-click="cancel()" >Cancelar</button>
    </div>
</form>